{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Joie</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'musicplayer/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'musicplayer/assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'musicplayer/assets/css/templatemo-digimedia-v1.css'%}">
    <link rel="stylesheet" href="{% static 'musicplayer/assets/css/animated.css'%}">
    <link rel="stylesheet" href="{% static 'musicplayer/assets/css/owl.css'%}">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  

  

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h6>To Declutter Your Mind</h6>
                    <h2>Audio Journal</h2>
                    <p>Journaling has been linked to several mental health benefits similar to those you can get from meditation and it also helps you gain more self-awareness. Audio journaling is just an easier way to do it for many of us. Give it a try...</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="border-first-button scroll-to-section">
                      <a href="#contact">Get Started</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'musicplayer/assets/images/slider-dec.jpg'%}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'musicplayer/assets/images/about-dec.jpg'%}" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="about-right-content">
                <div class="section-heading">
                  <h6>For Those Who Couldn’t Stick To Meditation 😉</h6>
                  <h4>Benefits of <em>Audio Journaling</em></h4>
                  <div class="line-dec"></div>
                </div>
                <p>Audio journaling can increase your chances of protecting your brain's health while boosting your productivity. Speaking your mind counteracts the tension you accumulate in your body, improves immune function, boosts your mood, and strengthens your emotional functions.</p>
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="100">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            
                            <span>Productivity</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="100">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            
                            <span>Headspace</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="100">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            
                            <span>Mindfulness</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6>Think Out Loud</h6>
            <h4>Counteract Anxiety or Worry Spirals<em>In The Moment</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <span class="icon"><img src="{% static 'musicplayer/assets/images/service-icon-01.jpg'%}" alt=""></span>
                        Easier
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="{% static 'musicplayer/assets/images/service-icon-02.jpg'%}" alt=""></span>
                        Mood &amp; Emotion
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="{% static 'musicplayer/assets/images/service-icon-03.jpg'%}" alt=""></span>
                        Brainstorm
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="{% static 'musicplayer/assets/images/service-icon-04.jpg'%}" alt=""></span>
                        Good Habit
                      </div>
                    </div>
                    <div class="last-thumb">
                      <div class="thumb">                 
                        <span class="icon"><img src="{% static 'musicplayer/assets/images/service-icon-05.jpg'%}" alt=""></span>
                        Companion
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Audio journaling can be easier.</h4>
                                <p>If you struggled to make time to reflect regularly, an audio journal can make it easier for you to simply press record and speak your mind. Unlike a written journal — which has its own benefits — you don’t have to be seated with a pen and a paper. Plus, these days most of us have our phones with us all the time, making it easier for us to use it for audio journaling.</p>
                                
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'musicplayer/assets/images/service-icon-01.jpg'%}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Audio journal captures more emotion and mood with voice.</h4>
                                <p>Audio journaling allows you to record your voice and any background noise — capture a more rich snapshot of your journal entry. When revisiting your audio journals this can be an important data-point for reflection. Did you sound excited? Sick? Happy? What was the background noise if any? If you like to transcribe your audio journals, you still have the original recording for reference.</p>
                                
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'musicplayer/assets/images/service-icon-02.jpg'%}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Ability to “think out loud” and brainstorm with an audio journal</h4>
                                <p>Articulating with an audio journal allows your brain to think more freely and faster — which has benefits for some forms of thinking. For example, if you are practising for a presentation, writing an article, or trying to reflect on a life event — audio journaling might just give you the boost you need to get it out.</p>
                                
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'musicplayer/assets/images/service-icon-03.jpg'%}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Audio journal helps develop good habits with your phone or recorder.</h4>
                                <p>Yes, in today’s times of mindless browsing on digital devices, this is a valuable habit. Using your phone or recorder for audio journaling helps you develop good habits with your digital devices. That is, when feeling down or wanting to articulate, you take the step do something about it.</p>
                                
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'musicplayer/assets/images/service-icon-04.jpg'%}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Audio journal is good companion for your written journal.</h4>
                                <p>Big decisions usually have to be communicated and audio journaling can aid in articulating them better. Especially when we need understanding, empathy or buy-in from others. Avoid overthinking about a topic and then explaining a decision out loud for the first time in front of an audience. Instead, try explaining it out loud to your phone for the first time. You won’t only find better words to express yourself, but you’ll also learn how to control your tone better and inspire more confidence. </p>
                                
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'musicplayer/assets/images/service-icon-05.jpg'%}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Scripts -->%
  <script src="{% static 'musicplayer/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'musicplayer/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'musicplayer/assets/js/owl-carousel.js'%}"></script>
  <script src="{% static 'musicplayer/assets/js/animation.js'%}"></script>
  <script src="{% static 'musicplayer/assets/js/imagesloaded.js'%}"></script>
  <script src="{% static 'musicplayer/assets/js/custom.js'%}"></script>

</body>
</html>