{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Joie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'affirmation_reading/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'affirmation_reading/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'affirmation_reading/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'affirmation_reading/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'affirmation_reading/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'affirmation_reading/vendor/swiper/swiper-bundle.min.'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'affirmation_reading/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: KnightOne - v4.6.0
  * Template URL: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          
          <h2>{{quote}}</h2>
          
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Positive Daily Affirmations: Is There Science Behind It?</h2>
          <p>Fortunately, positive affirmations are almost as easy to define as they are to practice. Put simply, they are positive phrases or statements used to challenge negative or unhelpful thoughts.

Practicing positive affirmations can be extremely simple, and all you need to do is pick a phrase and repeat it to yourself.

You may choose to use positive affirmations to motivate yourself, encourage positive changes in your life, or boost your self-esteem. 
If you frequently find yourself getting caught up in negative self-talk, positive affirmations can be used to combat these often subconscious patterns and replace them with more adaptive narratives.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
             Is There Science Behind Them?
Science, yes. Magic, no. Positive affirmations require regular practice if you want to make lasting, long-term changes to the ways that you think and feel. The good news is that the practice and popularity of positive affirmations are based on widely accepted and well-established psychological theory.
                         Based on this definition, here are some examples of positive affirmations:

            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>I believe in myself, and trust my own wisdom.</li>
              <li><i class="ri-check-double-line"></i>I am a successful person.</li>
              <li><i class="ri-check-double-line"></i>I am confident and capable at what I do. </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
           As inherently positive statements, affirmations are designed to encourage an optimistic mindset. And optimism in itself is a powerful thing. In terms of reducing negative thoughts, affirmations have been shown to help with the tendency to linger on negative experiences.

When we are able to deal with negative messages and replace them with positive statements, we can construct more adaptive, hopeful narratives about who we are and what we can accomplish.
            </p>
            <a href="https://sites.lsa.umich.edu/sasi/wp-content/uploads/sites/275/2015/11/Critcher_AffPersp.pdf" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    

    <!-- ======= Faq Section ======= -->
    <section id="faq" class="faq">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>Answers to Common Questions About<strong> Affirmations</strong></h3>
              <p>
                If you haven’t practiced positive affirmations before, you might have a lot of questions at this point. Here, we’ll address some of the most common questions asked about the topic.
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">Are Self-Affirmations Best Said Every Day?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                     There are no hard and fast rules about timing or frequency when it comes to practicing self-affirmations.

According to psychotherapist Ronald Alexander of the Open Mind Training Institute, affirmations can be repeated up to three to five times daily to reinforce the positive belief. He suggests that writing your affirmations down in a journal and practicing them in the mirror is a good method for making them more powerful and effective.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">Can They Help with Anxiety and Depression? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Positive affirmations are not designed to be cures for anxiety or depression, nor are they a substitute for clinical treatment of those conditions. But that’s not to say that they won’t help.

The idea of affirmations as a means of introducing new and adaptive cognitive processes is very much the underlying premise of cognitive restructuring. This is supported by a study of cancer patients that suggests that spontaneous self-affirmation had a significantly positive correlation to feelings of hopefulness.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">Will They Boost Self-Esteem? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Affirmations can sometimes be very useful for boosting your self-esteem—but there’s a caveat.

The most important thing, according to self-affirmation theory, is that your affirmations reflect your core personal values. There is little point in repeating something arbitrary to yourself if it doesn’t gel with your own sense of what you believe to be good, moral, and worthwhile.

To have any kind of impact on your self-esteem, your self-affirmations should be positively focused and targeted at actions you can take to reinforce your sense of self-identity. Use your real strengths, or strengths that you consider important, to guide your affirmations.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/faq.jpg");'>&nbsp;</div>
        </div>

      </div>
    </section><!-- End Faq Section -->

    
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'affirmation_reading/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'affirmation_reading/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'affirmation_reading/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'affirmation_reading/vendor/php-email-form/validate.js'%}"></script>
  <script src="{% static 'affirmation_reading/vendor/purecounter/purecounter.js'%}"></script>
  <script src="{% static 'affirmation_reading/vendor/swiper/swiper-bundle.min.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'affirmation_reading/js/main.js'%}"></script>

</body>

</html>