
{% extends 'base.html' %} 
{% load static %}
{% block css %}
<!-- Videos Template css -->
<!-- Favicon -->
        <link href="{% static 'videos/img/favicon.ico'%}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
       
        <link href="{% static 'videos/lib/animate/animate.min.css'%}" rel="stylesheet">
        <link href="{% static 'videos/lib/flaticon/font/flaticon.css'%}" rel="stylesheet"> 
        <link href="{% static 'videos/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
        <link href="{% static 'videos/lib/lightbox/css/lightbox.min.css'%}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'videos/css/style.css'%}" rel="stylesheet">


<!-- Videos Template css end here-->
{% endblock css %}
{% block content %}


        <!-- Class Start -->
        <div class="class">
            <div class="top-container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>GUIDED MEDITATION</p>
                    <h2>The Best Meditation Videos</h2>
                    <div></div>
                    
                        
                    
                </div>

            </div>
        </div>
        <!-- video-service Start -->
        <div class="video-service">
            <div class="container">
                
                
                <div class="row">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="video-service-item">
                        <a href="{% static 'videos/allvideos/5-Minute Meditation You Can Do Anywhere.mp4'%}">
                            <div class="video-service-icon">
                            
                                <i class=""><img
                                                src="{% static 'videos/img/1.png' %}"
                                                class="img-responsive"
                                                alt="Overview"
                                                /></i>
                            </div>
                            
                            <h3>Heal emotions</h3>
                            <p>
                               Do it for yourself, and everyone you love. It only takes a few minutes to find some happiness.
                            </p>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="video-service-item active">
                        <a href="{% static 'videos/allvideos/10-Minute Meditation For Beginners.mp4'%}">
                            <div class="video-service-icon">
                                <i class=""><img
                                    src="{% static 'videos/img/2.png' %}"
                                    class="img-responsive"
                                    alt="Overview"
                                    /></i>
                            </div>
                            <h3>Body Refreshes</h3>
                            <p>
                                Catch your breath, relax your mind, and feel 14% less stressed in just 10 days.
                            </p>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="video-service-item">
                        <a href="{% static 'videos/allvideos/How to Practice Mindfulness.mp4'%}">
                            <div class="video-service-icon">
                                                        <i class=""><img
                                src="{% static 'videos/img/3.png' %}"
                                class="img-responsive"
                                alt="Overview"
                                /></i>
                            </div>
                            <h3>Move</h3>
                            <p>
                                Train your body and mind at the same time with exercises to strengthen your mental and physical well-being.
                            </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="video-service-item">
                        <a href="{% static 'videos/allvideos/15-Minute Meditation For Self Love.mp4'%}">
                            <div class="video-service-icon">
                                <i class=""><img
                                src="{% static 'videos/img/5.png' %}"
                                class="img-responsive"
                                alt="Overview"
                                /></i>
                            </div>
                            <h3>Focus</h3>
                            <p>
                                Get a clearer picture of what matters most with music and meditations designed to help boost your ability to focus.
                            </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="video-service-item">
                        <a href="{% static 'videos/allvideos/6 Daily Habits to Reduce Stress & Anxiety.mp4'%}">
                            <div class="video-service-icon">
                                <i class=""><img
                                src="{% static 'videos/img/4.png' %}"
                                class="img-responsive"
                                alt="Overview"
                                /></i>
                            </div>
                            <h3>Wake Up</h3>
                            <p>
                               Inspiring stories and mini-meditations delivered daily to help you start your morning right.
                            </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1s">
                        <div class="video-service-item">
                        <a href="{% static 'videos/allvideos/10-Minute Meditation For Sleep.mp4'%}">
                            <div class="video-service-icon">
                                <i class=""><img
                                    src="{% static 'videos/img/6.png' %}"
                                    class="img-responsive"
                                    alt="Overview"
                                    /></i>
                            </div>
                            <h3>Peaceful Sleep</h3>
                            <p>
                                Put your mind to bed, wake up refreshed, and make good days your new normal.
                                Create the space for the mind to gently come to rest with this nighttime meditation.
                            </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1s">
                        <div class="video-service-item">
                        <a href="{% static 'videos/allvideos/10-Minute Meditation For Anxiety.mp4'%}">
                            <div class="video-service-icon">
                                <i class=""><img
                                    src="{% static 'videos/img/7.png' %}"
                                    class="img-responsive"
                                    alt="Overview"
                                    /></i>
                            </div>
                            <h3>Anxiety</h3>
                            <p>
                                Taking proper care of your mind can help you relax. Joie assists you in dealing with the anxiety.
                            </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1s">
                        <div class="video-service-item">
                        <a href="{% static 'videos/allvideos/10-Minute Meditation For Stress.mp4'%}">
                            <div class="video-service-icon">
                                <i class=""><img
                                    src="{% static 'videos/img/8.png' %}"
                                    class="img-responsive"
                                    alt="Overview"
                                    /></i>
                            </div>
                            <h3>Stress</h3>
                            <p>
                                We can’t eliminate stress, but through meditation we can learn to reframe how we view stress to relate to it in a more accepting way.
                            </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1s">
                        <div class="video-service-item">
                        <a href="{% static 'videos/allvideos/Daily Routine To Fight Off Depression.mp4'%}">
                            <div class="video-service-icon">
                                <i class=""><img
                                    src="{% static 'videos/img/9.png' %}"
                                    class="img-responsive"
                                    alt="Overview"
                                    /></i>
                            </div>
                            <h3>Depression</h3>
                            <p>
                               Understanding Depression is the first step in managing it.Then, through meditation, we learn to recognize the triggering thoughts and can work to find different ways around these mental patterns.


                            </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- video-service End -->


        <!-- Class End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
{% endblock content %}
        
 <!--additional js-->
{% block js %} 
<!-- videos template scripts -->
<!-- JavaScript Libraries -->
       
        <script src="{% static 'videos/lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'videos/lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'videos/lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'videos/lib/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'videos/lib/lightbox/js/lightbox.min.js' %}"></script>
        
        
        <!-- Template Javascript -->
        <script src="{% static 'videos/js/main.js' %}"></script>

{% endblock js %}